    
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="title">Eat da Burgers!</h1>
      <img class="burgerImg" src="https://www.itsnicethat.com/system/files/052017/591369447fa44caff50006a1/images_slice_large/Bobs_burger.jpg?1494444360"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h2>Hot Fresh Burgers!</h2>
      <ul>
        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burger-block}}
          {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Devoured Burgers</h2>
      <ul>
        {{#each burgers}}
          {{#if this.devoured}}
            <li>
              {{id}}
              {{name}}
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="addBurger">
      <h2>Bob's Creation</h2>
      <form class="create-form">
        <div class="form-group">
          <label for="newBurger">Type of Burger:</label>
          <input type="text" id="newBurger" name="name">
        </div>
        <button type="submit">Cook the Burger</button>
      </form>
      </div>
    </div>
  </div>
</div>